<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/">All products</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    {{#each categories}}
                        <li class="list-group-item">
                            <a href="/category/{{this.CategoryID}}">{{this.CategoryName}}</a>
                        </li>
                    {{/each}}

                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row mb-2">
                {{#each products}}
                    <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="product.html" title="View Product">{{this.ProductName}}</a></h4>
                            <p class="card-text">Product Description</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">{{this.UnitPrice}} $</p>
                                </div>
                                <div class="col">
                                    <a class="btn btn-success btn-block">+Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="/?page={{previousPage}}" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">{{page}} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/?page={{nextPage}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
